<link rel="stylesheet" href="/stylesheets/client_navbar.css">
<header class="main-header">
    <div class="header-left">
        <a href="/homecliente" class="header-title-link">
            <h2>Panel de Cliente</h2>
        </a>
    </div>
    <nav class="main-nav">
        <ul>
            <li>
                <a href="/homecliente" class="nav-link">
                    <i class="fas fa-home"></i> Inicio
                </a>
            </li>
            <li>
                <a href="/objetivos-financieros" class="nav-link">
                    <i class="fas fa-bullseye"></i> Objetivos
                </a>
            </li>
            <li>
                <a href="/cliente/calendario" class="nav-link"> 
                    <i class="fas fa-calendar-alt"></i> Calendario 
                </a>
            </li>
           
            <li>
                <a href="/inversiones" class="nav-link">
                    <i class="fas fa-lightbulb"></i> Inversiones
                </a>
            </li>
            <li>
                <a href="/contacto-asesor" class="nav-link">
                    <i class="fas fa-comments"></i> Contactar Asesor
                </a>
            </li>
        </ul>
    </nav>
    <div class="header-right">
        <a href="/perfilcliente" class="profile-logo-link">
            <div class="profile-logo-container">
                <i class="fas fa-user-circle profile-logo"></i>
            </div>
        </a>
        <button class="logout-button-header" onclick="window.location.href='/logout'">
            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
        </button>
    </div>
</header>