  <link rel="stylesheet" href="/stylesheets/footer.css">
  <footer class="main-footer">
    <div class="footer-content">
        <p>&copy; 2025 AI Finance Solutions. Todos los derechos reservados.</p>
        <p>Crecimiento inteligente para tus finanzas.</p>
    </div>
</footer>