<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Finance Solutions - Inicio Asesor</title>
    <link rel="stylesheet" href="/stylesheets/home_asesor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/asesor_navbar.css"> </head>
<body>

    <%- include('../partials/asesor_navbar') %> <div class="container">
        <main>
            <p>¡Hola, Asesor! Has accedido a tu panel. Aquí podrás gestionar tus clientes y ofrecerles asesoramiento financiero personalizado.</p>
            <ul class="features-list">
                <a href="/clientes-asignados" class="feature-item">
                    <i class="fas fa-users icon"></i> Ver la lista de clientes asignados.
                </a>
                <a href="/perfiles-clientes" class="feature-item">
                    <i class="fas fa-id-card icon"></i> Acceder a la información de perfil de tus clientes.
                </a>
                <a href="/programar-consulta" class="feature-item">
                    <i class="fas fa-calendar-alt icon"></i> Programar y realizar consultas.
                </a>
                <a href="/herramientas-analisis" class="feature-item">
                    <i class="fas fa-chart-line icon"></i> Utilizar herramientas de análisis financiero.
                </a>
                <a href="/consulta" class="feature-item">
                    <i class="fas fa-comments icon"></i> Consulta Integrada
                </a>
            </ul>
        </main>
    </div>
    
</body>
    <footer class="main-footer">
    <div class="footer-content">
        <p>&copy; 2025 AI Finance Solutions. Todos los derechos reservados.</p>
        <p>Crecimiento inteligente para tus finanzas.</p>
    </div>
</footer>
<script src="/javascripts/asesor_notifications.js"></script>
</html>