<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso a AI FINANCE SOLUTIONS</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
   </head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="/images/Logo.png" alt="Logo de AI FINANCE SOLUTIONS">
        </div>
        <h2 class="tagline">AI FINANCE SOLUTIONS</h2>
        <h2>Acceder a la Plataforma</h2>
        <form action="/login" method="POST">
            <% if (error) { %>
                <p class="error-message"><%= error %></p>
            <% } %>
            <div class="input-group">
                <label for="correo">Correo Electrónico</label>
                <input type="email" id="correo" name="correo" placeholder="Tu correo electrónico">
            </div>
            <div class="input-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" name="contrasena" placeholder="Tu contraseña">
            </div>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <div class="register-link">
            ¿No tienes una cuenta? <a href="/registro">Regístrate aquí</a>
        </div>
    </div>
</body>
</html>